[gcode_macro BASH_DOCK_TOOL]
description: Bash docking/undocking of single tool
gcode:
  {% set numofloop = params.ITERATIONS|default(10)|int %}
  {% set toolnumber = params.TOOLNUMBER|default(0)|int %}
  {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float) / 2 %}
  {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float) / 2 %}
  {% set tool_travel_feedrate = printer["gcode_macro _BTC_VARIABLES"].btc_travel_speed * 60 %}
  {% set current_tool = printer["gcode_macro _BTC_VARIABLES"].tool_current_asperbtc|int %}
  SAVE_GCODE_STATE NAME=TOOL_BASH_STATE
  G90
  # If carriage is empty, pick up the selected tool first
  {% if current_tool == -1 %}
    { action_respond_info("BTC Bash: Carriage empty - picking up T%d first" % toolnumber) }
    TOOL_PICKUP TOOLNUMBER={toolnumber}
    G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
  # If another tool is currently on the carriage, abort
  {% elif current_tool != toolnumber %}
    { action_raise_error("BTC Bash: T%d requested but T%d is currently on carriage" % (toolnumber, current_tool)) }
  {% endif %}
  # Bash dock/undock
  {% for docks in range(numofloop) %}
    { action_respond_info("BTC Bash: Cycle %d/%d - Dropoff T%d" % (docks + 1, numofloop, toolnumber)) }
    TOOL_DROPOFF TOOLNUMBER={toolnumber}
    G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
    { action_respond_info("BTC Bash: Cycle %d/%d - Pickup T%d" % (docks + 1, numofloop, toolnumber)) }
    TOOL_PICKUP TOOLNUMBER={toolnumber}
    G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
  {% endfor %}
  # Final dropoff - leave carriage empty
  { action_respond_info("BTC Bash: Final dropoff - leaving T%d at dock" % toolnumber) }
  TOOL_DROPOFF TOOLNUMBER={toolnumber}
  G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
  RESTORE_GCODE_STATE NAME=TOOL_BASH_STATE

[gcode_macro BASH_TOOLCHANGE]
description: Perform iterations of docking/undocking of every tool
gcode:
  {% set numofloop = params.ITERATIONS|default(5)|int %}
  {% set numoftool = printer["gcode_macro _BTC_VARIABLES"].numoftool %}
  {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float) / 2 %}
  {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float) / 2 %}
  {% set tool_travel_feedrate = printer["gcode_macro _BTC_VARIABLES"].btc_travel_speed * 60 %}
  # Get the last tool number
  {% set last_tool = numoftool[-1]|int %}
  # Absolute positioning
  SAVE_GCODE_STATE NAME=TOOL_BASH_STATE
  G90
  {% for docks in range(numofloop) %}
    {% for tools in numoftool %}
      M400
      T{tools}
      G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
    {% endfor %}
  {% endfor %}
  # Finish with the last tool on the carriage
  M400
  T{last_tool}
  G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
  # Final dropoff - leave carriage empty
  M400
  TOOL_DROPOFF TOOLNUMBER={last_tool}
  G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
  RESTORE_GCODE_STATE NAME=TOOL_BASH_STATE

[gcode_macro BASH_RANDOM_TOOLCHANGE]
description: Perform iterations of random docking/undocking of every tool
gcode:
  {% set numofloop = params.ITERATIONS|default(15)|int %}
  {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float) / 2 %}
  {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float) / 2 %}
  {% set tool_travel_feedrate = printer["gcode_macro _BTC_VARIABLES"].btc_travel_speed * 60 %}
  # Absolute positioning
  SAVE_GCODE_STATE NAME=TOOL_BASH_STATE
  G90
  {% for docks in range(numofloop) %}
    _DO_BASH_TC
  {% endfor %}
  # Get the currently active tool after the random toolchanges
  {% set last_tool = printer["gcode_macro _BTC_VARIABLES"].tool_current_asperbtc|int %}
  M400
  {% if last_tool >= 0 %}
    G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
    # Final dropoff - leave carriage empty
    TOOL_DROPOFF TOOLNUMBER={last_tool}
    G0 X{x_center} Y{y_center} F{tool_travel_feedrate}
  {% endif %}
  RESTORE_GCODE_STATE NAME=TOOL_BASH_STATE

[gcode_macro _DO_BASH_TC]
gcode:
  {% set tools = printer["gcode_macro _BTC_VARIABLES"].numoftool|random %}
  {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
  {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
  {% set tool_travel_feedrate = printer["gcode_macro _BTC_VARIABLES"].btc_travel_speed * 60 %}
  M400
  T{tools}
  G0 X{x_center} Y{y_center} F{tool_travel_feedrate}

[gcode_macro BASH_DOCKSLIDE]
description: Bash dockslide
gcode:
  {% set numofloop = params.ITERATIONS|default(10)|int %}
  {% for docks in range(numofloop) %}
    DOCKSLIDE_PARK
    G4 P1000
    DOCKSLIDE_DEPLOY
    G4 P1000
  {% endfor %}
  DOCKSLIDE_PARK
