[include ./tool_0.cfg]					# Required
[include ./tool_1.cfg]					# Required if second tool available, and so on
[include ./btc_carriage.cfg]			# Required
[include ./btc_leds.cfg]				# Required
[include ./dockslide.cfg]				# Comment out if not using dockslide
# [include ./bashed_macros.cfg]			# Uncomment if doing bashing. Comment out once done at least 100 iterations of toolchange.
# [include ./btc_tubby.cfg]				# Uncomment when doing tool alignment using Tubby, Nudge, Sexball, Zero Precision, etc
# [include ./btc_tubby_z.cfg]			# Uncomment when doing tool alignment for Z axis only
# [include ./btc_spoolman.cfg]			# Uncomment for Spoolman integration
# [include ./dock_locate_calibrate.cfg] # Uncomment when doing auto dock_locate_calibration

###################################################
# Global Variables
###################################################
[gcode_macro _BTC_VARIABLES]
variable_btc_travel_speed:                100    # speed from print to approach position and back to print
variable_btc_toolchange_speed:            100    # speed from approach position to actual pickup/dropoff sequence moves
variable_btc_wipe_speed:                  100    # wipe speed
variable_btc_z_hop:                       2      # set this to 0 to disable z hop
variable_btc_temp_allow:                  4.0    # Temperature allowance. This is range of set temperature. Use higher value if your pid is bad
variable_btc_inc_leds:                    True   # Using neopixel
variable_btc_enable_spoolman_integration: False  # Enable updating Spoolman upon toolchanges
variable_carriage_sense_delay:            0.3    # Carriage-sense check delay

variable_tool_approachlocation_z:      0      	 # NOTE: Do not change this. Keep it at 0 at the moment. (WIP)
												 # MUST BE 0 unless using sling!!!

variable_sling_mode:      False					# Keep this to False at the moment (WIP)

# Runtime variables used by BTC (Do not edit manually)
variable_tool_current_asperbtc: -1
variable_use_dockslide: False
variable_from_pickup: False
variable_numoftool: []
variable_tools_used_inprint:  []
variable_gcode_offset_z_adjust: 0.0
variable_base_limit_accel: 0
variable_base_limit_scv: 0
variable_last_dropoff_successful: False

gcode:
  # Keeps Klipper parser happy

###################################################
# Global Carriage Sense Switch Definition
###################################################
[gcode_macro CHECK_TOOL]
gcode:
    {% set current_tool = printer["gcode_macro _BTC_VARIABLES"].tool_current_asperbtc %}
    { action_respond_info("Current BTC Active Tool: " ~ current_tool|default('None', true)|string) }